@model gamblingSite.Models.RouletteViewModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    TimeSpan timeSpan = Model.rouletteModel.SpinDate.Subtract(DateTime.Now);
}

<div class="container-fluid" id="my-main-roulette-container">
    <div class="row">
        <div class="mx-auto d-flex flex-row">
            <p class="my-timer my-text-light-color" id="text-before-timer">Next Spin in&nbsp;</p>
            <span id="timerLabel" runat="server" class="my-timer my-text-light-color">@timeSpan.Seconds</span>
            <p class="my-timer my-text-light-color" id="text-after-timer">&nbsp;seconds</p>
        </div>
        
    </div>
    
    <form method="post" class="row container">

        <div class="row w-100 container">

            <div class="col-8">
                <input class="form-control-plaintext my-background-light-color" asp-for="applicationUserRouletteModel.Stake" />
                <span asp-validation-for="applicationUserRouletteModel.Stake" class="text-danger"></span>
            </div>
            <div class="col-4 container d-flex flex-row-reverse">
                <img class="my-chip-balance-icon" src="~/icons/chip-balance.png" />
                <p class=".my-text-light-color my-balance-text">@ViewBag.Balance</p>

            </div>
            
        </div>

        <div class=" row w-100 container">
            <div class="col-4 align-self-center">
                <div class="container w-100 mx-1 d-flex flex-row">
                    <img class="my-chip-form-icon" src="~/icons/chip-red.png" />
                    <button type="submit" name="red" value="red" class="w-100 btn-danger">Win x2</button>
                </div>
            </div>

            <div class="col-4 align-self-center">
                <div class="container w-100 mx-1 d-flex flex-row">
                    <img class="my-chip-form-icon" src="~/icons/chip-green.png" />
                    <button type="submit" name="green" value="green" class="w-100 btn-success">Win x7</button>
                </div>

            </div>

            <div class="col-4 align-self-center">
                <div class="container w-100 mx-1 d-flex flex-row">
                    <img class="my-chip-form-icon" src="~/icons/chip-black.png" />
                    <button type="submit" name="black" value="black" class="w-100 btn-dark">Win x2</button>
                </div>
            </div>
        </div>

    </form>

</div>


@section Scripts{
    <script type="text/javascript">

        function countdown() {
            seconds = document.getElementById("timerLabel").innerHTML;
            
            if (seconds > 0) {
                document.getElementById("timerLabel").innerHTML = seconds - 1;
                setTimeout("countdown()", 1000);
            }
            else {
                
                document.getElementById("timerLabel").innerHTML = "Starting";
                hideTimerText();
                setTimeout(reloadPage(), 2000);
            }
        }
        function hideTimerText() {
            document.getElementById("text-before-timer").innerHTML = "";
            document.getElementById("text-after-timer").innerHTML = "";
        }
        function reloadPage()
        {
            location.reload(true);
        }

        setTimeout("countdown()", 1000);

    </script>
}